@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		/* Spacing */
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;

		/* Text */
		font-family: "DM Sans", sans-serif;
		font-weight: 400;
		font-size: 1.05rem;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	span {
		font-family: "Quicksand", sans-serif;
		font-weight: 800;
	}
}

/* Website Colour Palette */
@theme {
	--color-accent: #0c0367;
	--color-primary: #080337;
	--color-btn: #4703ff;
	--color-hover: #6f05d1;
	--color-bgLight: #f9fafd;
	--color-bgSoft: #e3edf9b4;
	--color-bgDark: #060e18;
	--color-blue: #05bed6;
	--color-text: #888b97;
}

/* Tailwind Styles */
.primarybtn {
	@apply px-6 py-3 rounded-3xl font-bold flex items-center justify-center bg-btn hover:bg-hover transition duration-500 ease-in-out cursor-pointer text-sm;
}
.secondarybtn {
	@apply px-6 py-3 rounded-3xl font-bold flex items-center justify-center bg-blue hover:bg-accent transition duration-500 ease-in-out cursor-pointer text-sm;
}

.bgGradient {
	@apply bg-gradient-to-b from-bgLight  via-bgSoft to-bgLight;
}

.heading {
	@apply leading-[3.5rem] text-[3.5rem] text-primary;
}
.heading2 {
	@apply text-[1.5rem] text-primary;
}

.tag {
	@apply font-bold text-primary uppercase tracking-widest text-sm;
}

.padding {
	@apply px-3 lg:px-8 xl:px-16;
}
